---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Projects - Hugo Persson">
  <div class="w-full h-full flex justify-center">
    <div class="p-4 text-text text-center">
      <h1 class="w-100 text-2xl font-bold mb-4">🚧 Under Construction 🚧</h1>
      <p>I'm currently working on this page. Please check back later.</p>
      <p>
        In the meantime, you can check out my <a
          class="text-sky hover:text-purple"
          href="https://github.com/Hugo-Persson">GitHub</a
        > profile.
      </p>
    </div>
  </div>
  https://amanbhattarai.com.np/projects https://hanna.lol/
</Layout>
