html {
	background-color: rgb(15, 19, 22);
	color: white;
}

.links {
	grid-area: links;
}

.name {
	grid-area: name;
}

.description {
	grid-area: description;
}

.skills {
	grid-area: skills;
}

.portfolioItemContainer {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 1fr 4fr;
	grid-template-areas:
		"links name skills"
		"links description skills";
}

.noDot {
	list-style: none;
}

body {
	margin: 0 !important;
	padding: 0 !important;
}