---
import Layout from "@layouts/Layout.astro";
import { Content } from "@markdown/uses.md";
import { proseClasses } from "@root/constants";
import UnderConstruction from "@components/UnderConstruction.astro";
---

<Layout title="Uses - Hugo Persson">
  <UnderConstruction />
  <div class={proseClasses}>
    <Content />
  </div>
</Layout>
