---
import UnderConstruction from "@components/UnderConstruction.astro";
import ProjectLayout from "@layouts/ProjectLayout.astro";
---

<ProjectLayout name="AudioCap">
  <h1>Audiocap</h1>
</ProjectLayout>
