---
import ProjectLayout from "@layouts/ProjectLayout.astro";
import UnderConstruction from "@components/UnderConstruction.astro";
---

<ProjectLayout name="OCR Latex">
    <h1>OCR Latex</h1>
    <UnderConstruction />
</ProjectLayout>