---
import ProjectLayout from "@layouts/ProjectLayout.astro";
import DevLog from "./devlog.astro";
import Summary from "./summary.astro";
---

<ProjectLayout name="Image to Markdown OCR" slug="image-to-markdown">
  <Summary />
  <div slot="devlog" class="prose max-w-none">
    <DevLog />
  </div></ProjectLayout
>
