---
import { type CollectionEntry, type InferEntrySchema } from "astro:content";
import Tag from "@components/Tag.astro";

interface Props {
  post: InferEntrySchema<"blog">;
}

const { post } = Astro.props as Props;
---

<div class="mt-8">
  <div class="font-mono text-sm text-slate-500 dark:border-slate-700">
    <div class="flex flex-row">
      <div
        class="shrink-0 space-y-1 pr-6 border-2 border-y-0 border-r-slate-300 dark:border-slate-700 border-l-0"
      >
        <span class="uppercase font-bold p-0 m-0">Last updated</span><div>
          <time datetime={post.pubDate.toISOString()} class="text-subtext1">
            {
              new Date(post.pubDate).toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })
            }
          </time>
        </div>
      </div><div class="space-y-1 pl-6">
        <span class="uppercase font-bold">Topics</span><div
          class="flex flex-row flex-wrap gap-x-2 gap-y-1"
        >
          {post.tags.map((tag) => <Tag>{tag}</Tag>)}
        </div>
      </div>
    </div>
  </div>
</div>
