---
import ThemeHeadScript from "./theme-head-script.astro";
import ThemeToggle from "../components/theme-toggle.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
const headerLinks = [
  { href: "/", text: "1. About me" },
  { href: "/blog", text: "2. Blog" },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ThemeHeadScript />
  </head>

  <body class="">
    <div class="p-4 min-h-screen bg-base flex flex-col">
      <header
        class="flex justify-end gap-8 align-middle text-text font-bold text-xl"
      >
        {headerLinks.map((link) => <a href={link.href}>{link.text}</a>)}
        <ThemeToggle />
      </header>
      <slot />
    </div>
    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        background: #13151a;
        background-size: 224px;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
