name: Build Typst document
on:
  workflow_dispatch:
  push:
    paths:
      - "resume/**"
jobs:
  build_typst:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
      - name: Setup Typst
        uses: typst-community/setup-typst@v4
      - name: Compile Typst document
        run: typst compile --font-path resume/font resume/resume.typ ./public/cv.pdf
      - name: Configure git user
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
      - name: Add and commit the new file
        run: |
          git add ./public/cv.pdf
          git commit -m "Update cv.pdf"
      - name: Push changes
        run: git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
